 
@font-face {
  font-family: 'daumFont';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/daum/Daum_Regular.eot');
  src: url('/fonts/daum/Daum_Regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/daum/Daum_Regular.woff2') format('woff2'), 
       url('/fonts/daum/Daum_Regular.woff') format('woff'),
       url('/fonts/daum/Daum_Regular.svg') format('svg'), 
       url('/fonts/daum/Daum_Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'daumFont';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/daum/Daum_SemiBold.eot');
  src: url('/fonts/daum/Daum_SemiBold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/daum/Daum_SemiBold.woff2') format('woff2'), 
       url('/fonts/daum/Daum_SemiBold.woff') format('woff'),
       url('/fonts/daum/Daum_SemiBold.svg') format('svg'), 
       url('/fonts/daum/Daum_SemiBold.ttf') format('truetype');
}
