
/* footer */
.site-footer {
 	padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 1px;
    background-color: #333253;
    border-top: 1px solid rgba(255,255,255,0.4);
}

.site-footer *{
	color:rgba(255,255,255,0.5);
	font-size:13px;
}
.footer-heading {
	font-weight:600;
    font-size: 17px;
    margin-bottom: 15px;
    padding-bottom: 3px;
    margin-bottom: 5px;
    text-align:left; 
}

.contact-list, .social-media-list {
	list-style: none;
	margin-left: 0
}

.footer-col-wrapper {
	font-size: 15px;
	color: #828282;
	margin-left: -15px
	padding:0 20px;
}

.site-footer a:-webkit-any-link, .site-footer a{
	color: #ffffff;
	cursor: pointer;
    text-decoration: underline;

 }
 .site-footer a:visited{
 	color: rgba(255,255,255,0.5);
 }
 .site-footer a:hover{
 	color: #d14;
	text-decoration: none;		
 }


.footer-col {
	float: left;
 	padding-left: 15px
}
.footer-col-1 {
	width: -webkit-calc(35% - ( 30px/ 2));
	width: calc(35% - ( 30px/ 2))
}

.footer-col-2 {
	width: -webkit-calc(20% - ( 30px/ 2));
	width: calc(20% - ( 30px/ 2))
}

.footer-col-3 {
	width: -webkit-calc(45% - ( 30px/ 2));
	width: calc(45% - ( 30px/ 2))
}

@media screen and (max-width: 800px) {
	.footer-col-1, .footer-col-2 {
		width: -webkit-calc(50% - ( 30px/ 2));
		width: calc(50% - ( 30px/ 2))
	}
	.footer-col-3 {
		width: -webkit-calc(100% - ( 30px/ 2));
		width: calc(100% - ( 30px/ 2))
	}
}

@media screen and (max-width: 600px) {
	.footer-col {
		float: none;
		width: -webkit-calc(100% - ( 30px/ 2));
		width: calc(100% - ( 30px/ 2))
	}
}