* {
	box-sizing: border-box;
}
html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	overflow:hidden;
}
body{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background: url('/assets/ultra-violet-night-sky.jpg') top center;
	background-repeat: no-repeat;
	background-size:100% 100%;  
}


.maintext{
	font-family: 'Libre Barcode 39 Extended Text', cursive;
	font-size:45px;
	margin:auto;
	color:#ffffff;	
	width:100%; 
	text-align:center;
}
a, a:-webkit-any-link {
	color: #ffffff;
	cursor: pointer;
	text-decoration:none;
}
a:visited{
	color:#ffffff !important;
}
@media screen and (max-width: 800px) {
	body{
		background:none;
		background-color: #604c8d;
		padding:1em;
	}
	.maintext{
		text-indent:1em;
		font-family: 'Permanent Marker', cursive;
	}
} 