<nav class="mynav" id="mynav">

<div class="navlist_box">
  <div class="logo_box">
  <a class="logo {% if site.logo %} has-logo {% endif %}" href="/">{% if site.logo %} <img src="{{ site.logo | prepend: site.url }}"/> {% else %} wiseLotis {% endif %}</a>
  </div>
  <div class="btn btn-menu btn-sideopen">
    <span class="stick"></span>
    <span class="stick"></span>
    <span class="stick"></span>
  </div>
  <ul class="navlist">
      
<li class="navitem active" data-name="wiseLotis">
      <a class="navlink" href="/blog"> Home </a>
    </li> 
   <!--  <li class="navitem">
     <a class="navlink" href="/about">about</a>
   </li> -->
    {% for category in site.data.categories | reverse %}
     {% if category.disable == nil %}
          <li class="navitem">
            <a class="navlink" href="{{category.permalink}}">{{category.name}}</a>
          </li>  
     {% endif %}
    {% endfor %}
 
     <li class="navitem" data-name="tags">
      <a class="navlink" href="/tags/"> tags </a>
    </li> 
     <li class="navitem">
      <a class="navlink" href="/about/">about</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li> -->
  </ul>
</div>
<div class="title_box">
  <h2 class='blog_name'><a href="/blog">WiseLotis</a>:)<span class="title"></span></h2>
</div>

</nav>
 