<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand {% if site.logo %} has-logo {% endif %}" href="/">{% if site.logo %} <img src="{{ site.logo | prepend: site.url }}"/> {% else %} wiseLotis {% endif %}</a>
     
    </div>
     
    <div class=" navbar-collapse" id="myNavbar">
       <ul class="nav navbar-nav">
         <li> <a href="/blog">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <li><a href="/Posts">Posts</a></li>
        <li><a href="/About">About</a></li> 
      </ul>
     <!--  <ul class="nav navbar-nav navbar-right">
       <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
       <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
     </ul> -->
    </div>
  </div>
</nav>
