<ul class="nav nav-pills flex-column">
		{% for category in site.data.categories %}
			{% if category.disable == nil %}
					<li class="nav-item dropdown  {% if category.permalink == page.url %} active {% endif %}" {% if category.desc %} data-toggle="tooltip" data-placement='top' title='{{ category.desc }}' {% endif %}>
						<a class="nav-link category " href="{{category.permalink}}" >{{category.name}}</a>
						{% if category.subcategories %}
						<ul class="sub_ul">
							{% for sub in category.subcategories %}
								{% if sub.disable == nil %}
								<li class="nav-item {% if sub.permalink == page.url %} active {% endif %}" {% if sub.desc %} data-toggle="tooltip" data-placement='top' title='{{ sub.desc }}' {% endif %}>
								<a class="nav-link sub_category" data-toggle="" href="{{sub.permalink}}">
								{{sub.name}}</a>
								</li>
								<!-- <div class="dropdown-divider"></div> -->
								{% endif %}
							{% endfor %}
						</ul>
						{% endif %}
					</li>
			{% endif %}
		{% endfor %}
		<li class="navitem" data-name="tags">
		 <a class="navlink" href="/tags/"> tags </a>
	 </li>
		<li class="navitem">
		 <a class="navlink" href="/about/">about</a>
	 </li>
	</ul>
	<script>
	</script>
