<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">WiseLotis</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link {% if page.category == home %} active {% endif %} " href="/home"> Home <span class="sr-only">(current)</span></a>
      </li>
      {% for category in site.data.categories %}

      {% if category.disable == nil %}
      <li class="nav-item">
        <a class="nav-link item-link {% if page.category == category.name %} active {% endif %} " href="/{{category.name}}">{{category.name}}</a>
      </li>
      {% endif %}

      {% endfor %}
      <li class="nav-item">
        <a class="nav-link item-link " href="/tags">tags</a>
      </li>
      <li class="nav-item">
        <a class="nav-link item-link" href="/about">about</a>
      </li>
    </ul>
  </div>
</nav>
