@charset "UTF-8";

$main-color:#604c8d;
$mute-main-color:#9385b2; 
$dark-main-color:#20045a;
$sub-color:#7c13e5;
$mute-sub-color: #d8c7fd; 
$mute-color:#828282; /* 회색 */
$base-color:#f7f4ff; 
$fc-color:#26292c;
$em-fc-color:#cf1b27;
$link-fc-color:#2e9fff;
$dark-fc-color:#523e7c;
$overflow_hid:hidden; 
$breakpoints: (
	'x-small': (max-width:375px), 
	'small': (max-width:575px),
	'medium': (max-width: 800px),
	'large': (max-width: 1000px),
	'huge': (max-width: 1200px)
	);

/// 반응형 매니저
/// @access public
/// @param {String} $breakpoint - 브레이크포인트
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
	$raw-query: map-get($breakpoints, $breakpoint);

	@if $raw-query {
		$query: if(
			type-of($raw-query) == 'string',
			unquote($raw-query),
			inspect($raw-query)
			);

		@media #{$query} {
			@content;
		}
		} @else {
			@error 'No value found for `#{$breakpoint}`. '
			+ 'Please make sure it is defined in `$breakpoints` map.';
		}
	}

	.container{
		width:100% !important; 
	}

	@mixin ellipsis{
		overflow:$overflow_hid;
		white-space:nowrap;
		text-overflow:ellipsis;
	}

	@mixin hide_txt{
		display:inline-block;
		overflow:$overflow_hid;
		line-height:9999px;
		vertical-align:top;
	}


	body{
		font-family: 'daumFont', normal !important;
		font-weight: 400 !important; 
		color: $fc-color;
			font-size:14px; 
		@include respond-to('small'){
        	font-size:10px;
   		}
	}

	/*link*/
	a, a:-webkit-any-link {
		color: $dark-fc-color;
		text-decoration: none !important;
		.basic &, &.basic{
			color: $main-color !important;
		}
		.inverse &, &.inverse{
			color: #ffffff !important;
		}
		.content-wrapper .postbody &:not(.basic){
			color: $link-fc-color;
 		}
 		.site-footer &{
 			color: #ffffff;
			cursor: pointer;
			text-decoration: underline;
 		}
	}  

	a:hover, a:focus{
		color: $dark-fc-color;
		text-decoration: none;
		.basic &, &.basic{
			color: $em-fc-color !important;
		}
		.inverse &, &.inverse{
			color: $dark-fc-color !important;
		} 
		.navbar &{
			color: $sub-color !important;
			text-decoration: underline;
		}
		.nav-item &, &.nav-link{
			color: $sub-color !important;
			text-decoration: underline;
		}
		.content-wrapper .postbody &{
			color: $em-fc-color !important;
			text-decoration: underline;
		}
		.site-footer &{
			color: #d14;
			text-decoration: none;   
		}
	}

	a:visited {
		color: $dark-fc-color;
		text-decoration: none;
		.basic &, &.basic{
			color: $main-color !important;
		}
		.inverse &, &.inverse{
			color: rgba(255,255,255,0.4) !important;
		}
		.content-wrapper .postbody &{
			color: $link-fc-color;
			text-decoration: none;
		}
		.site-footer &{
			color: rgba(255,255,255,0.5);
		}
	} 
 

	.navbar{
		border-radius:0px !important; 
		margin-top: 10px;
		top: -10px;
		position: fixed !important;
		background-color: #ffffff !important;
		border-bottom: 1px solid $main-color !important;
		color:$main-color !important;
		width: 100%;
		z-index:100000;
		margin-bottom:0px !important;
		box-shadow: 0 5px 5px -5px $main-color; 
 
	}

	.navbar-brand{
		&.has-logo{
			padding:7px !important;
		}
		&.has-logo img{
			height:30px;
			background-color:$main-color;
			border-radius: 7px;
		}
	}

	.navbar-toggler{
		&.custom{
			width: 50px;
			color:$main-color;
			border-radius: 5px;
			border: 1px solid;
			padding: 10px 5px;
		}
		.toggle-stick{
			background-color:$main-color;
			display: block;
			height: 2px;
			width: 80%;
			margin: auto;
			margin-bottom: 3px;
		}
		.toggle-stick:last-child{
			margin-bottom:0px;
		}
	}
	.sidebar_wrapper{
		@include respond-to('small'){
			display:none; 
		}
	}
	.sidebar{
		font-size:1rem;
		@media screen and (min-width: 600px) {
			&{
				position:fixed; 
			}
		}
		.category{

		}
		.sub_category{
			font-size: 0.9em;
			opacity: 0.8; 
		}

	}

	.site-footer{
		padding: 10px 0;
		/* position: fixed; 
		bottom: 1px;*/
		position:absolute; 
		bottom: -10px;
		width: 100%;
		background-color:$main-color;
		color:#ffffff;
		font-size:0.9rem;
		@include respond-to('small'){
			position: absolute;
			bottom: -120px;
		}
		.bg_img_bottom &{
			background-color:transparent; 
		}
		.footer-heading {
			color:#ffffff6e;
			font-weight:600;
			font-size: 20px;
			margin-bottom: 15px;
			padding-bottom: 3px;
			margin-bottom: 5px;
			text-align:left; 
		}
		.footer-description{
			color:#ffffff6e;
			font-size:12px;
		} 
		.contact-list, .social-media-list {
			list-style: none;
			margin-left: 0
		}

		.footer-col-wrapper {
			font-size: 15px;
			color: $fc-color;
			margin-left: -15px;
			padding:0 20px;
		}

		
		.social-media-list{
			float:right; 
		}
		.footer-col {
			float: left;
			padding-left: 15px
		}
		.footer-col-1 {
			width: -webkit-calc(35% - ( 30px/ 2));
			width: calc(35% - ( 30px/ 2))
		}

		.footer-col-2 {
			width: -webkit-calc(20% - ( 30px/ 2));
			width: calc(20% - ( 30px/ 2))
		}

		.footer-col-3 {
			width: -webkit-calc(45% - ( 30px/ 2));
			width: calc(45% - ( 30px/ 2))
		}

		@media screen and (max-width: 800px) {
			.footer-col-1, .footer-col-2 {
				width: -webkit-calc(50% - ( 30px/ 2));
				width: calc(50% - ( 30px/ 2))
			}
			.footer-col-3 {
				width: -webkit-calc(100% - ( 30px/ 2));
				width: calc(100% - ( 30px/ 2))
			}
		}

		@media screen and (max-width: 600px) {
			.footer-col {
				float: none;
				width: -webkit-calc(100% - ( 30px/ 2));
				width: calc(100% - ( 30px/ 2))
			}
		}
	}



/**
 * Blockquotes
 */
 blockquote {
 	color: #828282;
 	border-left: 4px solid #e8e8e8;
 	padding-left: 15px;
 	font-size: 18px;
 	letter-spacing: -1px;
 	font-style: italic;
 }

 blockquote>:last-child {
 	margin-bottom: 0;
 }

/**
 * Code formatting
 */
 pre, code {
 	font-size: 15px;
 	border: 1px solid #e8e8e8;
 	border-radius: 3px;
 	background-color: #eef;
 }

 code {
 	padding: 1px 5px;
 }

 pre {
 	padding: 8px 12px;
 	overflow-x: auto;
 }

 pre>code {
 	border: 0;
 	padding-right: 0;
 	padding-left: 0;
 }
 
/**
 * Clearfix
 */
 .wrapper:after, .footer-col-wrapper:after {
 	content: "";
 	display: table;
 	clear: both;
 }

/**
 * Icons
 */
 .icon>svg {
 	display: inline-block;
 	vertical-align: middle;
 }

 .icon>svg path {
 	fill: #ffffff;
 }

 .social-media-list .icon {
 	padding-right: 5px;
 }

 .social-media-list li+li {
 	padding-top: 5px;
 }

 /*reset*/
 body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul,
 figure {
 	margin: 0;
 	padding: 0;
 }
 h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure,
 .highlight {
 	margin-bottom: 15px;
 }
 img {
 	max-width: 100%;
 	vertical-align: middle;
 }
 figure>img {
 	display: block;
 } 
 ul, ol {
 	margin-left: 30px;
 }

 li>ul, li>ol {
 	margin-bottom: 0;
 } 
 h1, h2, h3, h4, h5, h6 {
 	font-weight: 400;
 }

 /* overriding */
 body{
 	position:relative;
 	padding-top:60px !important; 
 	padding-bottom: 200px !important;
 	@include respond-to('small'){
 		padding-bottom: 50px !important; 
 	}
 }
 h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure,
 .highlight {
 	margin-bottom: 5px;
 }
 .wrapper {
 	width: 98%;
 	margin: auto;
 	padding-right:30px;
 	padding-left: 30px;
 }

 @media screen and (max-width: 800px) {
 	.wrapper {
 		width: 95%;
 		padding-right:10px;
 		padding-left: 10px;
 	}
 }


 .btn-code{
 	border: 1px solid $main-color !important;
 	font-size: 0.8em !important;
 	border-radius: 1em !important;
 	margin-left: 1em;
 	float: right;
	 color:$em-fc-color !important;
  } 

 .collapse_wrapper {
 	border-top: 2px solid $main-color !important;
 	margin: 1.5em 0;
 }
 .muted{
 	text-align: right; 
 	font-color:$mute-color;
 } 

 em{
 	color: $em-fc-color; 
 }
 .content-wrapper{
 	padding:1em 0.5em;
 	max-width: 90%;
 	margin:auto; 
 	@include respond-to('small'){
 		max-width: 100%;
 	}

 	.post-body img{
 		width:90%; 
 		display:block; 
 		margin:auto; 
 		margin-top:1em;
 		margin-bottom:1em; 
 	}
 	blockquote{
 		width: 95%;
 		margin: 0 auto;
 		border-left: 5px solid $mute-sub-color;
 		p{
 			margin-left:1em; 
 		}
 	}
 }

 .row{ width:100%; margin:0px !important;}

 .subtags_wrapper{
 	display:inline-block;
	width: 90%; margin:auto;  
	margin-top:20px;		
 	min-height:250px; 
 	border:1px solid $main-color; 
 	border-radius:10px; 
 	position:relative; 
 	padding:2.5em 10px 1em 10px; 

 	h4{
 		color:$main-color; 
 		display:inline-block; 
 		position:absolute;
 		top: -0.5em;
 		background-color: #ffffff;
 		left: 1em;
 		padding: 0 10px; 
 	}
 	ul{
 		margin:0;
 	}
 	[class^='tag_']{
 		padding:10px; 
 		font-weight:800; 
 		font-size:2.5em; 
 		display:inline-block; 
 		color:$sub-color; 
 		&:hover, &:focus{
 			background-color:$sub-color; 
 			border-radius:5px; 
 			a{
 				color:#ffffff !important; 
 				text-decoration:none; 
 			}
 		}
 	}

 	.tag_{
 		&1{
 			font-weight:400; 
 			font-size:0.9em;
 			a{
 				color:$main-color !important;  
 			}
 		}
 		&2{
 			font-weight:400; 
 			font-size:1.2em; 
 			a{
 				color:$sub-color !important; 				
 			}
 		}
 		&3{
 			font-weight:400; 
 			font-size:1.5em; 
 			a{
 				color: $dark-main-color !important; 
 			}
 		}
 		&4{
 			font-weight:600; 
 			font-size:1.8em; 
 			a{
 				color:$main-color !important; 				
 			}
 		}
 		&5{
 			font-weight:600; 
 			font-size:2.0em;
 			a{
 				color:$sub-color !important; 				
 			}
 		}
 		&6{
 			font-weight:600; 
 			font-size:2.2em;
 			a{
 				colot:$dark-main-color !important;				
 			}
 		}  
 	}

 }

 .somebox{
	padding: 10px;
    background-color: #ffffff;
    margin-top: 1em;
    border-radius: 5px
 }

