@charset "UTF-8";

.mynav {
	&.under .navlist_box {
		background-color: $main-color;
	}

	.logo_box {
		position: absolute;
		top: 10px;
		left: 10px;

		.logo {
			display: inline-block;
			width: 40px;

			img {
				background-color: $main-color;
				padding: 10%;
				border-radius: 10px;
			}
		}
	}

	.navlist_box {
		padding: 20px;
		position: fixed;
		width: 100%;
		min-height: 62px;
		background-color: rgba(96,76,141,0.52);
		z-index: 1001;

		ul {
			display: inline-flex;
			flex-flow: row wrap;
			padding-left: 50px;
			margin: auto;
			@include respond-to('small') {
				display: none;
			}

			li.navitem {
				margin-left: 15px;
				padding: 0 5px;
				text-align: right;
				position: relative;
				@include respond-to('small') {}
				@include linkColor(#ffffff,#ffffff, #ffffff);
				@include linkDeco(none, none, none);

				a:focus,
				a:hover {
					font-size: 1.3em;
				}

				.drop_navlist {
					display: inline-flex;

					.drop_navitem {
						margin-left: 15px;
						padding: 0 5px;
						font-size: 0.8em;
					}
				}

				a.navlink {
					display: inline-block;
				}

				&.active > a {
					border-bottom: 4px solid rgba(255,255,255,0.8);
				}
			}
		}
	}
}

.title_box {
	color: #ffffff !important;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	width: 100%;
	height: 70%;
	background: url("/assets/flower.jpg") no-repeat no-repeat;
	background-size: 100% auto;
	position: relative;
	word-break: break-all;
	@include respond-to('small') {
		background-size: auto 100%;
	}
	@include ellipsis;

	.blog_name {
		position:absolute;
		bottom:10px;
		right:10px;
		font-size: 3em;
		margin-bottom: 0.5em;
		@include linkColor(#ffffff,#ffffff,#ffffff);
	}
}


 .up_nav_area{
	 	width: 100%;
    height: auto;
    display: none;
		z-index: 1000;
    background-color: #ffffff;
		position: fixed;
    //top: -100%;
	 	top:0;
	 	right:0;
		padding: 80px 10px 0;
		border-bottom: 1px solid $mute-main-color;
		&>ul{
			margin:0;
			font-size: 17px;
			&>li{
				margin-top: 5px;
				@include linkColor($main-color, #ffffff , $dark-fc-color);

			}
			.sub_ul{
				padding:20px;
				font-size:0.9em;
				margin-top:0.5em !important;
				border: 1px solid $mute-main-color;
				border-radius: 10px;
				margin:0;
				@include linkColor($main-color, #ffffff , $dark-fc-color);

			}
		}
		.btn_area {
			a.btn-close_up_nav{
			background-color: $main-color;
			padding: 8px 20px 1px;
			display: inline-block;
			border-radius: 100px 100px 0 0;
			color: #ffffff !important;
			margin-top:20px;
			@include linkColor(#ffffff,#ffffff,#ffffff);
			@include linkDeco(none, none, none);
			}
		}
 }

 .navbar {
 	& #navbarSupportedContent {
  		ul{
			padding:0 15px;
 			margin:0;
 		}
 		.nav-item {
 			@include linkColor($main-color, $main-color , $dark-fc-color);
 			@include linkDeco(none, none, none);
 			font-size:17px;
  		}

 		.dropdown-item {
 			@include linkColor($main-color,$main-color , $dark-fc-color);
 			@include linkDeco(none, none, none);
 			font-size:0.9em;
  		}
 	}
 }

.curtain{
	background-color: #111111;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    z-index: 999;
    opacity: 0.7;
}
