@charset "UTF-8";

$bg-color:#ffffff;
$main-color:#26292c;
$lite-main-color:#bec7d0;
$dark-main-color:#20045a;
$sub-color:#6827a7;
$lite-sub-color:#dbb5ff;
$dark-sub-color: #27014b;
$base-color:#f7f4ff; // 밝은 sub
$mute-color:#828282; /* 회색 */
$fc-color:#26292c;
$em-fc-color:#d75a62;
$dark-fc-color:#523e7c;
$overflow_hid:hidden;
$breakpoints: (
	'x-small': (max-width:375px),
	'small': (max-width:570px),
	'medium': (max-width: 800px),
	'large': (max-width: 1000px),
	'huge': (max-width: 1200px)
	);

/// 반응형 매니저
/// @access public
/// @param {String} $breakpoint - 브레이크포인트
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
	$raw-query: map-get($breakpoints, $breakpoint);

	@if $raw-query {
		$query: if(
			type-of($raw-query) == 'string',
			unquote($raw-query),
			inspect($raw-query)
			);

		@media #{$query} {
			@content;
		}
	} @else {
			@error 'No value found for `#{$breakpoint}`. '
			+ 'Please make sure it is defined in `$breakpoints` map.';
	}
}

@mixin linkColor($common, $focus, $visited){
	&, &:-webkit-any-link {
		color:$common !important;
	}
	&:hover, &:focus{
		color:$focus !important;
	}
	&:visited {
		color:$visited !important;
	}
}
@mixin linkDeco($common, $focus, $visited){
	&, &:-webkit-any-link {
		text-decoration:$common !important;
	}
	&:hover, &:focus{
		text-decoration:$focus !important;
	}
	&:visited {
		text-decoration:$visited !important;
	}
}

@mixin ellipsis{
	overflow:$overflow_hid;
	white-space:nowrap;
	text-overflow:ellipsis;
}

@mixin hide_txt{
	display:inline-block;
	overflow:$overflow_hid;
	line-height:9999px;
	vertical-align:top;
}
