@charset "UTF-8";
.sidebar_wrapper{
	padding:0 !important;
	border-bottom:1px solid $mute-main-color;
}
.sidebar{
	padding:20px 0;
	.category_nm{
	    padding: 20px 10px;
	    margin-top: -20px;
	    background-color: #604c8d;
	    color: #ffffff;
	    font-size: 1.3em;
	     @include linkColor(#ffffff, #ffffff, #ffffff);
	}
	ul{
		margin:0;
		//padding:0 20px;
		li{
			&.post_item{
					font-size: 0.8em;
			    margin-bottom: 0.5em;
	 		    padding: 0.5em;
					@include linkColor($main-color, $sub-color, $dark-fc-color);

			}
		  a{
			display:inline-block;
			width:100%;
 		  }
 		  &.active{
 		  	background-color:$mute-main-color;
 		  	font-size:1.1rem;
 		     @include linkColor(#ffffff, #ffffff, #ffffff);
 		  }
 		}
	}

/* BOOTSTRAP */
	.nav{
		font-size:16px;
		li.active{
		 		  	background-color:$mute-main-color;
		 		  	font-size:1.1rem;
		 		     @include linkColor(#ffffff, #ffffff, #ffffff);
 		}
		.sub_ul{
			font-size:0.8em;
			li{
				padding-left:20px;
			}
		}
	}
}

.subtags_wrapper{
    display: inline-block;
    width: 100%;
 }
