@charset "UTF-8";
.tag-wrapper{

}

.tag-box{
  .tagbox-wrapper.negative &{
    color:#ffffff;
    @include linkColor(#ffffff,#ffffff,#ffffff);
  }
  @include respond-to('small') {
    width: 100%;
    margin: auto;
    position: relative;
    margin: 50px 0;
  }
  .tit{
    font-size: 1.2em;
    font-weight: 600;
  }
  .tag-cloud{
    font-size:0.9em;
    .tag{
      display:inline-block;
    }
    .tag + .tag{
      margin-left: 1vw;
    }
    .tag_ {
      &1 {
        font-weight: 400;
        font-size: 1.1em;
      }
      &2 {
        font-weight: 400;
        font-size: 1.3em;
        a {
          color: $sub-color !important;
        }
      }
      &3 {
        font-weight: 400;
        font-size: 1.5em;
        a {
          color: $dark-main-color !important;
        }
      }
      &4 {
        font-weight: 600;
        font-size: 1.8em;
        a {
          color: $main-color !important;
        }
      }
      &5 {
        font-weight: 600;
        font-size: 2.0em;
        a {
          color: $sub-color !important;
        }
      }
      &6 {
        font-weight: 600;
        font-size: 2.2em;
        a {
          colot: $dark-main-color !important;
        }
      }
    }
  }

}



 .sidetag {
   display: inline-block;
   margin-top: 50px;
   min-height: 250px;
   border: 1px solid $main-color;
   border-radius: 10px;
   position: fixed;
   width: 23%;
   @include respond-to('small') {
     width: 100%;
     margin: auto;
     position: relative;
     margin: 50px 0;
   }
   padding: 2em 1%;
   margin-left: 1%;

   h4 {
     color: $main-color;
     display: inline-block;
     position: absolute;
     top: -0.5em;
     background-color: #ffffff;
     left: 1em;
     padding: 0 10px;
   }

   ul {
     margin: 0;

     li {
       display: inline-block;
       padding: 10px;

       &:focus,
       &:hover {
         background-color: $sub-color;
         border-radius: 5px;

         a {
           color: #ffffff !important;
           text-decoration: none;
         }
       }
     }
   }

   [class^='tag_'] {
     font-weight: 800;
     font-size: 2.5em;
     display: inline-block;
     color: $sub-color;

     &:focus,
     &:hover {
       background-color: $sub-color;
       border-radius: 5px;

       a {
         color: #ffffff !important;
         text-decoration: none;
       }
     }
   }

   .tag_ {
     &1 {
       font-weight: 400;
       font-size: 1.1em;

       a {
         color: $main-color !important;
       }
     }

     &2 {
       font-weight: 400;
       font-size: 1.3em;

       a {
         color: $sub-color !important;
       }
     }

     &3 {
       font-weight: 400;
       font-size: 1.5em;

       a {
         color: $dark-main-color !important;
       }
     }

     &4 {
       font-weight: 600;
       font-size: 1.8em;
       a {
         color: $main-color !important;
       }
     }

     &5 {
       font-weight: 600;
       font-size: 2.0em;

       a {
         color: $sub-color !important;
       }
     }

     &6 {
       font-weight: 600;
       font-size: 2.2em;

       a {
         colot: $dark-main-color !important;
       }
     }
   }
 }
