---
layout: home
permalink: /tags/
title: Tags
---
<head>
<style>
  .content-wrapper{
     max-width:100% !important;
   }
</style>
</head>
<script>
  $(document).ready(function(){
     $(".navitem").removeClass("active"); 
    $(".navitem").filter("[data-name='tags']").addClass("active"); 
  })
</script>
<link href="/css/category_tag.css" rel="stylesheet">
  <div class="row">
    <div class="col-sm-3 subtags_wrapper">
      <div class="sidetag">
        {% include sub_tags.html %}
      </div>
    </div>
    <div class="col-sm-9 content-wrapper" style="border-top: 1px solid #f1f1f1 ">
      {% for tag in site.tags %}
      {% capture tag_name %}{{ tag | first }}{% endcapture %}
      {% if tag_name != "home" and tag_name != "headpost" %}
      <div class="tag_name MT30">
        <span>Posts related to </span><h2>{{tag_name}} </h2>
      </div>
      <ul class="post-preview">
        {% for post in site.tags[tag_name] %}
        <li>
          <a href="{{ post.url | prepend: site.baseurl }}" ><div class="row">
            <div class='col-sm-4'>
              <span class="post-title">            
                {{ post.title }} 
              </span>
              {% if post.subtitle %}
              <p class="post-subtitle">
                {{ post.subtitle }}
              </p>
              {% endif %}

            </div>
            <div class='col-sm-8 '>
              {% if post.description %}
              <span class="post-description">
                {{ post.description }}
              </span>
              {% endif %}
            </div>
          </div>
          <p class="post-meta">
            Posted by 
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.title }}
            {% endif %} 
            on {{ post.date | date: "%B %-d, %Y" }}
          </p>
        </a>
      </li>

      {% endfor %}
    </ul>
    {% endif %}
{% endfor %}<!-- <p class="subtitle">Posts related to: {{ page.title }}</p>
-->
</div>
</div>
</div> 

</body>