---
layout: default
---
<link href="/css/category.css" rel="stylesheet">
<!-- <p class="subtitle">Posts related to: {{ page.title }}</p>
 -->
{% unless page.content == '' %}
  <p>{{ page.content }}</p>
{% endunless %}

{% unless site.categories.[page.category] | size > 0 %}
  <p class="noposts MT50" >No posts in this category at this time.</p>
{% endunless %}

<ul class="post-preview MT40">
  {% for post in site.categories.[page.category] %}

    <li>
    <a href="{{ post.url | prepend: site.baseurl }}">
        <p class="post-title">            
            {{ post.title }}
        </p>
        {% if post.discription %}
        <p class="post-discription">
            {{ post.discription }}
        </p>
        {% endif %}
    </a>
    <p class="post-meta">
      Posted by 
      {% if post.author %}
        {{ post.author }}
      {% else %}
        {{ site.title }}
      {% endif %} 
      on {{ post.date | date: "%B %-d, %Y" }}
    </p>
  </li>
  {% endfor %}

</ul>
<hr>
    