<html>
<head>
  {% include includes.html %}
  <link href="/css/post.css" rel="stylesheet">
</head>
<body>
  {% include mynav.html %}
  <div class="content-wrapper">
    <div class="row">
      <div class="col-sm-10 contents" style="border-top: 1px solid #f1f1f1">

        <div class="post-content">
          <h2 class="post-title">{{page.title}}</h2>

          <p class="muted post-date">{{page.date | date: '%B %d, %Y'}}</p>
          <div class="post-body">
            {{content}}
            <br>
            <div class="tag-wrapper" class='basic'>
              {% for tag in page.tags %} {% if tag !="home" and tag !="headpost" %}
              <span class="post-tag"><a href="/tags/{{tag}}">{{ tag }}</a></span> {% endif %}
              {% endfor %}
            </div>
          </div>
          <br>
          <div class="navi-btn-wrapper">
            <div id="post-nav" class="clearfix">
              {% if page.previous.url %}
              <a class="prev" href="{{page.previous.url}}" title="{{page.previous.title}}"><i class="fas fa-chevron-circle-left"></i> Prev
</a>
              {% endif %}
              &nbsp;&nbsp;
              {% if page.next.url %}
              <a class="next" href="{{page.next.url}}" title="{{page.next.title}}">Next <i class="fas fa-chevron-circle-right"></i></a>
              {% endif %}
            </div>
          </div>
          <br>
          {% if page.comments %}
          <div class="MT20 comments-wrapper">
            {% include comments.html %}
          </div>
          {% endif %}
        </div>
      </div>

      <div class="col-sm-2 sidebar_wrapper hidden" >
        <div class="sidebar">
          <p class="category_nm"><a href="/posts/{{category_nm}}">{{category_nm}}</a></p>
          <ul>
            {% assign posts = site.categories[category_nm]|reverse  %}
            {% for post in posts%}
            <li class='post_item {% if post.url == page.url %} active {% endif %}'><a href='{{post.url}}'>{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>
  </div>
  <script>
    $(document).ready(function( ){
      $(document).customTags();
    });
  </script>
  {% include footer.html %}
</body>
</html>
