<html>
<head>
<link href="/css/post.css" rel="stylesheet">
  {% include includes.html %}
</head>
<body style="padding-top:70px; padding-bottom: 150px;"> 
  {% include header.html %}
  <div class="">
  <div class="row">
  <div class="col-sm-3 sidebar_wrapper">
  <div class="sidebar">
  {% include side_bar.html %}
  </div>
</div>
<div class="col-sm-9" style="border-top: 1px solid #f1f1f1 ">
  <div class="content-wrapper">
      <div class="postbody">
        <h2 class="post-title">{{page.title}}</h2>
        <p class="muted">{{page.date | date: '%B %d, %Y'}}</p>
        {{content}}
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
</div>
 {% include comments.html %}

 {% include footer.html %}
</body>
</html>