<html>
<head>
<link href="/css/post.css" rel="stylesheet">
  {% include includes.html %}
</head>
<body style="padding-top:60px;"> 
  {% include header.html %}
  <div class="">
  <div class="row">
  <div class="col-sm-3 sidebar_wrapper">
  <div class="sidebar">
  {% include side_bar.html %}
  </div>
</div>
<div class="col-sm-9 content-wrapper" style="border-top: 1px solid #f1f1f1 ">
  <div class="content">
    <h2 class="post-title">{{page.title}}</h2>
        <p class="muted">{{page.date | date: '%B %d, %Y'}}</p>
      <div class="postbody">
        {{content}}
        <br>
        <br>
      </div>
    </div>
 <div class="MT20 comments-wrapper">
     {% include comments.html %}
  </div>
  </div>
</div>
</div>
 {% include footer.html %}
</body>
</html>