<html>

<head>
  {% include includes.html %}
    <link href="/css/category.css" rel="stylesheet">

</head>

<body>
  {% include top_nav_bs.html %}
  <div class='content-wrapper'>
    <div class="row">
      <div class="col-sm-4">
        <aside class='tagbox-wrapper negative'>
          {% include tagbox.html %}
        </aside>
      </div>
      <div class="col-sm-8 tag-content-wrapper negative" style="border-top: 1px solid #f1f1f1 ">
        <div class="tag_name MT30">
          <span>Posts related to </span>
          <h3>{{page.tag}} </h3>
        </div>
        <ul class="postlist">
          {% for post in site.tags[page.tag] %}
          <li class="post">
            <a href="{{ post.url | prepend: site.baseurl }}">
              <div class="row">
                <span class="tit col-sm-12" {% if post.subtitle %} title="{{ post.subtitle }}" {% endif %}>
                {{ post.title }}
              </span> {% if post.description %}
                <div class='col-sm-8'>
                  <span class="post-description">
                  {{ post.description }}
                </span>
                </div>
                {% endif %}
                <span class="date col-sm-4">
                 {{ post.date | date: "%B %-d, %Y" }}
              </span>
              </div>

            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <!--row-->
  </div>

  {% include footer.html %}

  <script>
    $(document).ready(function() {

    })
  </script>
</body>

</html>
