<html>
<head>
   <link href="/css/category_tag.css" rel="stylesheet">
   {% include includes.html %}

   <script>
     $(document).ready(function(){
        $(".navitem").removeClass("active");
       $(".navitem").filter("[data-name='tags']").addClass("active");
     })
   </script>

</head>

<body>
  	{% include mynav.html %}
    <div class="title_box">
     <h2 class='category_name'>{{page.title}}</h2>
    </div>
  <div class='content-wrapper'>
    <div class="row">
      <div class="col-sm-3 subtags_wrapper">
        <div class="sidetag">
          {% include sub_tags.html %}
        </div>
      </div>
      <div class='col-sm-9 category_container'>
          <ul class="post-preview">
            {% for post in site.tags[page.tag] %}
            <li>
              <a href="{{ post.url | prepend: site.baseurl }}" ><div class="row">
                <div class='col-sm-4'>
                  <span class="post-title">
                    {{ post.title }}
                  </span>
                  {% if post.subtitle %}
                  <p class="post-subtitle">
                    {{ post.subtitle }}
                  </p>
                  {% endif %}

                </div>
                <div class='col-sm-8 '>
                  {% if post.description %}
                  <span class="post-description">
                    {{ post.description }}
                  </span>
                  {% endif %}
                </div>
              </div>
              <p class="post-meta">
                Posted by
                {% if post.author %}
                {{ post.author }}
                {% else %}
                {{ site.title }}
                {% endif %}
                on {{ post.date | date: "%B %-d, %Y" }}
              </p>
            </a>
          </li>
          {% endfor %}
        </ul>

       </div>
      <div class="col-sm-2 sub_nav_wrapper hidden">
        <div class="sub_nav">
          {% include sub_nav.html %}
        </div>
      </div>
        <span><</span>
        <div class='move_more_btn' title="더보기">
      </div>
    </div> <!--row-->
  </div>

    {% include footer.html %}

    <script>
      $(document).ready(function(){
          $(".move_more_btn").on("click", function(){
            $(".sub_nav_wrapper").removeClass("hidden");
          })
      })
    </script>
    <script id="dsq-count-scr" src="//{{site.disqus-shortname}}.disqus.com/count.js" async></script>
</body>
</html>
