body {
  font-size: 14px !important;
  @include respond-to('large') {
    font-size: 12px !important;
  }
  @include respond-to('medium') {
    font-size: 11px !important;
  }
}

.cate-wrapper {
  padding: 20px 10px;
  max-width: 100%;
  margin: auto auto 30px;
}

.content-wrapper {
  padding: 0 !important;
}

.category-title {
  color: $main-color;
  font-size: 3em;
  text-align: right;
  background: url("/assets/flower.jpg") no-repeat center center;
  background-size: 100% auto;
  @include respond-to('small') {
    background: url("/assets/flower.jpg") no-repeat center;
  }
  white-space: normal;
  word-break: keep-all;

  div {
    min-height: 70%;
    position: relative;
    background-size: 100% 101%;
    padding: 2em 0.3em 0.3em;
    @include respond-to('small') {
      min-height: 26%;
      background-size: 100% 101%;
    }
  }

  h2 {
    bottom: 1px;
    right: 1em;
    color: #ffffff;
    font-size: inherit;
    position: absolute;
  }
}

.sub_nav_wrapper {
  @include respond-to('large') {
    display: none;
  }
padding:0 !important;
font-size:17px;

  .nav-item.active{
    background-color:$mute-main-color !important;
    @include linkColor(#ffffff,#ffffff,#ffffff);

  }
 	.sub_nav{
    &>ul{
        margin:0;
        li{
            padding:10px 10px 10px 1em ;
        }
    }
		@include linkColor($sub-color, $sub-color, $main-color);

  }
 }

.tag_name {
  color: $main-color;
  font-size: 1em;
  border-bottom: 2px solid;
  padding: 1em;

  h2 {
    padding: 10px 0.5em;
    color: #ffffff;
    display: inline-block;
    border-radius: 10px;
    background-color: $main-color;
    font-size: 1.5em;
  }
}

.post-preview {
  font-size: 1em;
  margin-bottom: 0;
  @include linkColor($sub-color,$sub-color,$main-color);

  li {
    position: relative;
    padding-bottom: 1.5em;
    &+li{
      border-top: 1px solid $mute-sub-color;
    }

    & > a {
      display: inline-block;
      width: 100%;
      padding: 10px;
    }

    & > a:hover {
      color: $dark-fc-color !important;
      text-decoration: none;
      background-color: $base-color;
      border-bottom: 1px solid $main-color;
    }

    .post-title {
      font-size: 1.2em !important;
      font-weight: 600;
    }

    .post-subtitle {
      font-size: 1em;
      opacity: 0.6;
    }

    .post-discription {
      font-size: 0.9em;
    }

    .post-meta {
      margin: 0;
      position: absolute;
      text-align: right;
      font-size: 0.7em;
      bottom: 0.4em;
      right: 1em;
      color: $mute-color;
    }
  }
}
