body{
    font-size:14px !important; 

    @include respond-to('large'){
        font-size:12px !important; 
    }
    @include respond-to('medium'){
        font-size:11px !important; 
    } 
}
.cate-wrapper {
    padding: 20px 10px;
    max-width: 1000px;
    margin: auto;
    margin-bottom:30px; 
}

.category-title{
    color: $main-color; 
    font-size:3em; 
    text-align:right; 
    background: url('/assets/category/pink_leaf.jpg') no-repeat center center; 
    @include respond-to('small'){
     min-height:25%; 
     background: url('/assets/category/pink_leaf_half.jpg') no-repeat center center; 
    } 
    background-size:100% auto !important; 
    white-space:normal; 
    word-break:keep-all; 
    div{
        min-height:40%; 
        background-color: #ffffffbd;
        position:relative; 
        padding:2em 0.3em 0.3em 0.3em; 
        @include respond-to('small'){
         min-height:25%; 
        } 
    }
    h2{
        bottom:0px;
        right:1em;  
        font-size:inherit; 
   }
} 

.post-preview{
    font-size: 1em; 
    margin-bottom:0px; 
    li{
        position:relative; 
        &>a{
            display:inline-block;
            width:100%; 
            padding:10px; 
        }
        &>a:hover{
            color: $dark-fc-color !important;
            text-decoration: none;
            background-color: $hover-color;
            border-bottom:1px solid $main-color; 
        }
        .post-title{
            font-size:1.2em !important; 
            font-weight:600;
        }
        .post-subtitle{
            font-size:1em; 
            opacity:0.6;
        }
        .post-discription{
            font-size:0.9em; 
        }
        .post-meta{
            margin: 0;
            position: absolute;
            text-align: right;
            font-size: 0.7em;
            bottom: 0.4em;
            right: 1em;
            color:$mute-color; 
        }
    }
}