@charset "UTF-8";

body{
    font-size:14px;
    background-color:$main-color;
}
.title_area{
  padding: 30vh 0;
  text-align:center;
  background: url("/assets/blue.jpg") no-repeat center center;
  background-size: 100% auto;
  position:relative;
  @include respond-to('small'){
    background-size: auto;
  }
  a.title_txt{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-size: 1.2em;
    border-radius: 2em;
    background-color: rgba(255,255,255,0.9);
    @include linkColor($main-color,$lite-main-color,$dark-main-color);
  }
  .feed-btn-wrapper{
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    a.feed-btn{
      padding:5px 5px;
      background-color: rgba(248, 249, 250, 0.6901960784313725);
      margin-left: 5px;
      border-radius: 10px;
      @include linkColor($main-color,$lite-main-color,$dark-main-color);
      @include respond-to("small"){
        display:none;
      }
    }
  }
}
.container{
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom : 60px;
  min-height:100vh;
  position:relative;
}
.category_link{
  padding: 3vh 0;
    width: 100%;
    display: block;
    text-align: center;
    border: 1px solid;
    background-color:#ffffff;
}
.postblock-wrapper{
  .post_ul{
    margin-bottom: 0;
    .post_li{
      background-color: #ffffff;
       padding: 4vh 2vw 6vh 2vw;
      position: relative;
      margin-bottom: 10px;
      & + &{
        border-top: 0.5px solid $lite-sub-color;
        margin-top: 4vh;
      }
      &:nth-child(2n){
        background-color:$base-color;
      }
      .post_container{
        height: 50vh;
        overflow: hidden;
        padding-bottom: 10px;
        border-bottom: 0.5px solid $lite-sub-color;
        &.open{
          height:auto;
        }
        .post_title{
          font-size: 1.5em;
         }
        .post_open, .post_fold{
          position: absolute;
          bottom: 2vh;
          right: 1vw;
        }
      }
    }
  }
}
.postlist-wrapper{
  .postlist{
    background: $bg-color;
    .post{
      padding: 20px;
      a{
        @include linkDeco(none,none,none);
      }
      &:hover{
        background-color: $base-color;
      }
      & + &{
        border-top : 1px solid $mute-color;
      }
      .tit{
        width: 100%;
        display: block;
      }
      .desc{
        color:$sub-color;
      }
      .date{
        font-size:0.8em;
        float:right;
      }
    }

  }
}

.btn-more-post{
  display: inline-block;
  background: #ffffff;
  padding: 2vh 10vw;
  width: 100%;
  text-align: center;
  @include linkColor($main-color,$lite-main-color,$dark-main-color);
}
.home-container{
    background-color:#ffffff;
    padding: 10px 1vw;
    margin: 10px auto;

  &>.tit + * {
    padding: 5px 2vw 10px;
    font-size: 0.8em;
  }
}
