 @charset "UTF-8";
 .content-wrapper{
 	white-space:normal; 
 	word-break:break-all; 
 	/* background: url('/assets/pink_leaf_top.jpg'), url('/assets/pink_leaf_bottom.jpg') ; 
 	    background-repeat: no-repeat, no-repeat; 
 	    background-position: top center, bottom right;
 	    background-size: 100% auto; 
 	    */
 	}
 	.select_container{
 		.btn_area{
 			margin-bottom:10px; 
 			text-align:right; 
 			.btn{
 				font-size:12px; 
 				color:$sub-color !important; 
 				border:1px solid; 
 			}
 			.btn.active{
 				color:#ffffff !important; 
 				background-color:$sub-color; 
 			}
 		}
 		.box_area{
 			.box{
 				display:none;
 			}
 		}
 	}
 	.sidebar_wrapper{
 		background-color:#ffffff; 
 	}
	.ex-container{
		width: 100%;
		display:flex;    display:-webkit-flex;    display:-ms-flex;
   		justify-content: space-between; -webkit-justify-content: space-between; /* Safari 6.1+ */ -ms-justify-content: space-between;
		background-color:#ffffff;
		padding:0.5em; 
		.half_area{
			width:50%; 
			 
			padding:0.5em;
		}
	}

 	.content{

 		padding: 2em 1em; 
 		background-color:#ffffffe3;
 		ol{
 			padding-left:2em;
 		}
 		.page-heading {
 			font-size: 20px;
 		}
 		.postbody{
 			padding: 1.5em 1em; 
 			background-color:$base-color; 
 			img{
 				box-shadow: 0 0 5px 5px $mute-sub-color;
 				margin: 2em 1em;
 				max-width: 90%;
 			}
 		}
 		.post-list {
 			margin-left: 0;
 			list-style: none;
 			li{
 				margin-bottom: 30px;
 			}
 		}

 		.post-meta {
 			font-size: 14px;
 			color: #828282;
 		}

 		.post-link {
 			display: block;
 			font-size: 24px;
 		}

 		.post-header {
 			margin-bottom: 30px
 		}


 		.post-title {
 			font-size: 42px;
 			letter-spacing: -1px;
 			line-height: 1;
 			@include respond-to('medium'){
 				font-size:36px; 
 			}
 		}

 		.post-content{
 			padding: 30px 0;
 			margin-bottom: 30px;
 			font-size: 14px; 
 			@include respond-to('medium'){
 				font-size:10px; 
 			}
 		}
 		.tagWrapper{
 			text-align:right;
 		}
 		.post-tag{
 			&:before{
 				content: '#'; 
 			    color: $main-color;
 			}   

 		}	 
 	}
