 @charset "UTF-8";
 body{
 	background:url('/assets/back_bottom_leaf.jpg') repeat-x bottom left; 
 	background-size: auto 300px; 
 }

 .content-wrapper{
 	white-space:normal; 
 	word-break:break-all; 
 	/* background: url('/assets/pink_leaf_top.jpg'), url('/assets/pink_leaf_bottom.jpg') ; 
 	    background-repeat: no-repeat, no-repeat; 
 	    background-position: top center, bottom right;
 	    background-size: 100% auto; 
 	    */
 	}
 	.sidebar_wrapper{
 		background-color:#ffffff; 
 	}

 	.content{

 		padding: 2em 1em; 
 		background-color:#ffffffe3;
 		ol{
 			padding-left:2em;
 		}
 		.page-heading {
 			font-size: 20px;
 		}
 		.postbody{
 			padding: 1.5em 1em; 
 			background-color:$mute-main-color; 
 			img{
 				box-shadow: 0 0 5px 5px $mute-sub-color;
 				margin: 2em 1em;
 				max-width: 90%;
 			}
 		}
 		.post-list {
 			margin-left: 0;
 			list-style: none;
 			li{
 				margin-bottom: 30px;
 			}
 		}

 		.post-meta {
 			font-size: 14px;
 			color: #828282;
 		}

 		.post-link {
 			display: block;
 			font-size: 24px;
 		}

 		.post-header {
 			margin-bottom: 30px
 		}


 		.post-title {
 			font-size: 42px;
 			letter-spacing: -1px;
 			line-height: 1;
 			@include respond-to('medium'){
 				font-size:36px; 
 			}
 		}

 		.post-content{
 			padding: 30px 0;
 			margin-bottom: 30px;
 			font-size: 14px; 
 			@include respond-to('medium'){
 				font-size:10px; 
 			}
 		}
 		.tagWrapper{
 			text-align:right;
 		}
 		.post-tag{
 			&:before{
 				content: '#'; 
 			    color: $main-color;
 			}   

 		}	 
 	}
