@charset "UTF-8";
body{
	background-color:$main-color !important;
}
.contents{
	margin:auto;
	font-size: 13px;
	margin: 5vh auto;
	padding: 3vh 0;
}
.post-content{

	.post-title{
		color:#ffffff;
		padding: 0 3vw;
	}
	.post-date{
		text-align:right;
		padding-right:3vw;
		color:$mute-color;
	}
	.post-body{
		background-color: #ffffff;
		padding: 20px 5vw;
		.tag-wrapper{
			.post-tag{
				&+&{
					margin-left: 1em;
				}
				a{
					@include linkColor($sub-color,$main-color,$dark-sub-color);
				}
				a::before{
					content:"#";
				}

			}
 			&.nagative{
				.post-tag{

				}
			}
		}
	}
	/* 이전/다음포스트 */
	.navi-btn-wrapper{
		text-align:center;

		.prev, .next{
				font-size: 1.2em;
				font-weight: 600;
				padding: 5px 10px 5px 15px;
    		border: 1px solid;
				&a {
					@include linkColor(#ffffff,#ffffff,#ffffff);
				}

		}
		.prev{
			border-radius: 30px 0 0 30px;
 		}
		.next{
			border-radius: 0 30px 30px 0;
		}
	}
	.comments-wrapper{
		background-color:#ffffff;
		padding: 20px 3vw;
	}
	.fold-btn-wrapper{
		margin-top: 10px;
		@include linkColor(#ffffff,#ffffff,#ffffff);


	}
	.postlist-wrapper{
		font-size:0.8em;
		@include linkColor($main-color,$lite-main-color,$dark-main-color);
		background-color:#ffffff;
		padding: 10px 2vw;
	}
}
